* {
  margin: 0;
  padding: 0;
}

body {
  height: 35em;
  margin: 0;
}

.grid {
  height: 100%;
}

#upper {
  height: 50%;
  background-color: #e67e22;
}

#lower {
  height: 50%;
  background-color: #f1c40f;
}

#fizz {
  padding: 11%;
  font-size: 8em;
  text-align: center;
  font-family: futura;
  color: #16a085;
  margin-right: 18%;
}

#buzz {
  font-size: 8em;
  text-align: center;
  font-family: futura;
  color: #c0392b;
  margin-left: 18%;
}
